{ :paths ["src" "resources"]

 :deps  {org.clojure/clojure  {:mvn/version "1.11.4"}}

 :aliases {:cljs {:extra-deps {thheller/shadow-cljs  {:mvn/version "2.28.10"}
                               lilactown/helix       {:mvn/version "0.2.1"}}}}}
